@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: optional;
  src: url(/fonts/raleway.woff2) format('woff2');
}

.customMark::before {
  background-color: #76ba99;
  content: '';
  width: 2rem;
  height: 0.7rem;
  left: -2px;
  top: 8px;
  z-index: -1;
  transform: rotate(-2deg);
  position: absolute;
  bottom: 0;
}
