name: ci

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: yarn
      - name: Run lint
        run: yarn test-all
      - name: Run tests
        run: yarn test
